# Archivos sensibles
*.key
*.pem
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias
node_modules/
.npm

# Cache
.cache/
*.tmp

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporal
temp/
tmp/
